{{#if resume.languages.length}}
    <article class="grid margin-section">
        <section class="grid__col-12 grid__col-xs-4">
            <div class="grid__cell border-top border-heavy padding-inline-top">
                <h4 class="color-red">Languages</h4>
            </div>
        </section>

        <section class="grid__col-12 grid__col-xs-8">
            <div class="grid__cell border-top border-heavy padding-inline-top">
                <div class="grid grid--justify-end">
                    {{#each resume.languages}}
                        <div class="grid__col-4 margin-inline-bottom padding-list">
                            {{#if language}}<h5>{{language}}</h5>{{/if}}
                            {{#if fluency}}<p>{{fluency}}</p>{{/if}}
                            {{#if level}}<p>{{level}}</p>{{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>
    </article>
{{/if}}