{{#if resume.skills.length}}
    <article class="grid margin-section">
        <section class="grid__col-12 grid__col-xs-4">
            <div class="grid__cell border-top border-heavy padding-inline-top">
                <h4 class="color-red">Skills</h4>
            </div>
        </section>

        <section class="grid__col-12 grid__col-xs-8">
            <div class="grid__cell border-top border-heavy padding-inline-top">
                <div class="grid grid--justify-end">
                    {{#each resume.skills}}
                        {{#if name}}
                            <div class="grid__col-6 grid__col-xs-3 padding-none">
                                <h6>{{name}}</h6>
                            </div>
                        {{/if}}
                        {{#if level}}
                            <div class="grid__col-6 grid__col-xs-3 padding-none">
                                <div class="color-red">
                                    <span class="rating rating-{{skillMeter level}}-5"></span>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </section>
    </article>
{{/if}}
